<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tukasz Januaz blog</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
    <link rel="stylesheet" href="{{ cssStylesHref }}" />
  </head>

  <body>
    <div class="page-content">
      <h1>Tukasz Januaz blog</h1>

      <div class="posts-toc">
        {{#each posts}}
        <div class="posts-toc-item">
          <div class="posts-toc-item-date">
            {{ date }}
          </div>

          <div class="posts-toc-item-title">
            <a class="posts-toc-item-href" href="posts/{{href}}">{{ title }}</a>
          </div>

          <div class="posts-toc-item-tags">
            {{#each tags}}
            <code>{{ this }}</code
            >&nbsp;
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
